{% extends 'layouts/admin.twig' %}

{% block content %}
    <ul class="breadcrumbs el">
        <li><a href="/admin/">Home</a> /</li>
        <li><a href="{{ route('plugin.dhlparcel.admin.index', collection.id) }}">DHL Parcel</a> /</li>
        <li class="end">{{ page_meta.title }}</li>
    </ul>

    {% include 'admin/index_header.twig' with {
        page_title: page_meta.title,
        create: {
            link: route('plugin.dhlparcel.admin.process', collection.id),
            name: 'Process Shipments for this collection request'
        },
    } %}

    <h3>Collection date: {{ collection.collection_date|date('Y-m-d') }}</h3>
    <h3>Collection reference: {{ collection.collection_ref }}</h3>

    {% include 'admin/messages.twig' %}

    {% if orders|length > 0 %}
    <table>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Customer Address</th>
            <th>Order Date</th>
            <th>Tracking code</th>
            <th>No. of Labels</th>
            <th>Actions</th>
        </tr>
        {% for collection_order in orders %}
            <tr>
                <td>{{ collection_order.order.id }}</td>
                <td>{{ collection_order.order.customer_name }}</td>
                <td>
                    {{ collection_order.order.shippingAddress.address1 }}<br>
                    {{ collection_order.order.shippingAddress.address2 }}<br>
                    {{ collection_order.order.shippingAddress.city }}<br>
                    {{ collection_order.order.shippingAddress.postcode }}</td>
                <td>{{ collection_order.order.created_at }}</td>
                <td>
                    {{ collection_order.shipments[0].tracking_number }}
                </td>
                <td>
                    {{ collection_order.shipments|length }}
                </td>
                <td>
                    <a target="_blank" href="{{ route('plugin.dhlparcel.admin.label', collection_order.order.id) }}" class="btn btn-primary">View Labels</a>
                    <a href="{{ route('orders.show', collection_order.order.id) }}" class="btn btn-primary">View Order</a>
                    {% if collection_order.shipments|length == 0 %}
                        <a href="{{ route('plugin.dhlparcel.admin.reset-order', {
                            'collection_id' : collection.id,
                            'order_id': collection_order.order.id
                        }) }}" class="btn btn-danger">Reset</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        No orders
    {% endif %}

{% endblock %}