{% extends 'layouts/admin.twig' %}

{% block content %}
    <ul class="breadcrumbs el">
        <li><a href="/admin/">Home</a> /</li>
        <li class="end">{{ page_meta.title }}</li>
    </ul>

    {% include 'admin/index_header.twig' with {
        page_title: page_meta.title
    } %}

    {% include 'admin/messages.twig' %}

    <h3>Create Collection Date</h3>

    <form action="{{ route('plugin.dhlparcel.admin.index') }}" method="post">
        <fieldset>
            <div class="row">
                <label for="collection_date">Collection Date</label>
                <input type="date" value="{{ today }}" name="collection_date" id="collection_date">
            </div>
            <div class="row">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </fieldset>
    </form>

    <h3>Available collection requests</h3>
    <table>
        <tr>
            <th>Collection Date</th>
            <th>Collection Reference</th>
            <th>Orders</th>
            <th>Actions</th>
        </tr>
        {% for collection in collections %}
            <tr>
                <td>{{ collection.collection_date|date("Y-m-d") }}</td>
                <td>{{ collection.collection_ref }}</td>
                <td>{{ collection.orders()|length }}</td>
                <td>
                    <a href="{{ route('plugin.dhlparcel.admin.process', collection.id) }}" class="btn btn-primary">Add Orders</a>
                    <a href="{{ route('plugin.dhlparcel.admin.collections_labels', collection.id) }}" class="btn btn-primary">Print all labels</a>
                    <a href="{{ route('plugin.dhlparcel.admin.collections', collection.id) }}" class="btn btn-primary">View Orders</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}