{% extends 'layouts/admin.twig' %}

{% block content %}
    <ul class="breadcrumbs el">
        <li><a href="/admin/">Home</a> /</li>
        <li><a href="{{ route('plugin.dhlparcel.admin.index', collection.id) }}">DHL Parcel</a> /</li>
        <li><a href="{{ route('plugin.dhlparcel.admin.collections', collection.id) }}">Collection - {{ collection.collection_ref }}</a> /</li>
        <li class="end">{{ page_meta.title }}</li>
    </ul>

    {% include 'admin/index_header.twig' with {
        page_title: page_meta.title
    } %}

    {% include 'admin/messages.twig' %}

    {% if orders|length > 0 %}
        <form action="{{ route('plugin.dhlparcel.admin.process', collection.id) }}" method="post">
            <div class="row">
                <div class="d-inline">
                    <button class="btn btn-primary" type="submit">
                        Send selected orders and Fetch Labels
                    </button>
                </div>
            </div>
            <table>
                <tr>
                    <th>
                        <input type="checkbox"
                               id="js_processAll"/>
                        <label for="js_processAll">All</label>
                    </th>
                    <th>Order ID</th>
                    <th>Customer Name</th>
                    <th>Customer Address</th>
                    <th>Order Date</th>
                </tr>
                {% for order in orders %}
                    <tr>

                        <td class="align-middle">
                            <input type="checkbox"
                                   class="js_bulkProcess"
                                   value="{{ order.id }}"
                                   name="orders[]"/>
                        </td>
                        <td>{{ order.id }}</td>
                        <td>{{ order.customer_name }}</td>
                        <td>
                            {{ order.shippingAddress.address1 }}<br>
                            {{ order.shippingAddress.address2 }}<br>
                            {{ order.shippingAddress.city }}<br>
                            {{ order.shippingAddress.postcode }}</td>
                        <td>{{ order.created_at }}</td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% else %}
        No orders in last 30 days.
    {% endif %}

{% endblock %}